{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}


{% block search %}{% endblock %}
{% block result_list %}
    {% include "admin/ip_list_results.html" %}

    <div class="submit-row">
        {% block submit-row %}
            <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-primary">{% translate 'Close' %}</a>
            <a href="{% url opts|admin_urlname:'free' current_id %}"
               class="btn btn-primary" class="btn btn-primary">{% translate 'Вільні' %}</a>
            <a href="{% url opts|admin_urlname:'use' current_id %}"
               class="btn btn-primary" class="btn btn-primary">{% translate 'У використанні' %}</a>
            <a href="{% url opts|admin_urlname:'not_init' current_id %}"
               class="btn btn-primary" class="btn btn-primary">{% translate 'Не ініціалізовані' %}</a>
            <a href="{% url opts|admin_urlname:'registered' current_id %}"
               class="btn btn-primary" class="btn btn-primary">{% translate 'Зареєстровані' %}</a>
            <a href="{% url opts|admin_urlname:'full_list' current_id %}"
               class="btn btn-primary" class="btn btn-primary">{% translate 'Повний перелік' %}</a>
        {% endblock %}
    </div>

{% endblock %}
{% block pagination %}{% endblock %}