body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 11pt;
}

#toolbar #searchbar {
    height: 16px;
    border: 1px solid #120f0f;
    padding: 1px 1px;
    margin: 0;
    vertical-align: baseline;
    font-size: 13px;
}

#changelist-search div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
}

#changelist-search div #searchbar{
    flex-grow: 10;
    flex-basis: 100px;
    flex-shrink: 1;
    /* width: 800%; */
    max-width: none;
}

#changelist-search div span {
    flex-grow: 2;
    flex-basis: 100px;
}

.form-row div>input{
    flex-basis: 85%;
}

.form-row div>input[type=checkbox]{
    flex-basis: auto;
}

.change-form #content form .form-row .datetime {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 0;
    flex-basis: 85%;
}
